page-team {
  ion-icon{
    font-size: 30px;
    float: left;
  }
  .daffa, .thoriq, .ravindra{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #44433e;
  }
  h2, h4{
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: #fff 2px 2px;
  }
  
}
